#opener {
  text-align: center;
}

.underline {
  text-align: center;
  text-decoration: underline;
}

.panel-heading {
  text-align: center;
}

.glyphicon {
  float: left;
  font-size: 4em;
}

ol {
  margin-right: 10%;
}
