body {
  background:linear-gradient(0deg, white, red);
}

#opener {
  text-align: center;
  padding-top: 5%;
}

.jumbotron img {
  border: 5px ridge black;
}

span {
  font-weight: bolder;
  font-style: oblique;
}

.underline {
  text-align: center;
  text-decoration: underline;
}

.panel-heading {
  text-align: center;
}

#ruins {
  border: 2px solid black;
  margin-top: 5%;
}

#israel {
  border: 2px solid black;
  margin-top: 20%;
}

.glyphicon {
  float: left;
  font-size: 4em;
}

ol {
  margin-right: 10%;
}

ol img{
  width: 50%;
  float: right;
  border: 2px solid black;
}
